
html{
    cursor: none;
}
.items{
    position: relative;
}
.item{
    position: absolute;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}